/*html,body{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}*/

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}
.clear{
  clear: both;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgb(64 53 53 / 90%);
}
  .parallax-container .section {
    width: 100%;
  }

#icons{
  text-align: right;
}

.botao-flutuante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  font-size: 30px;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media (max-width: 768px) {
  .botao-flutuante {
    color: black;
    background-color: transparent;
    border-radius: 50%; 
    font-size: 30px; 
    padding: 6px;
    width: 60px; 
    height: 60px; 
  }

  .botao-flutuante .bi {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #icons{
  text-align: left;
}
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
 #caixa-mensagem {
            display: none;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            padding: 20px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }
@media only screen and (max-width: 400px) {
  h1.header {
    font-size: 1.75em; /* Tamanho opcional */
    line-height: 1.2; /* Ajusta o espaçamento entre linhas */
    text-align: center; /* Centraliza o texto */
  }

  h1.header.teal-text {
    display: block; 
  }
}
