/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}
.clear{
  clear: both;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgb(64 53 53 / 90%);
}
  .parallax-container .section {
    width: 100%;
  }

#icons{
  text-align: right;
}

.botao-flutuante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  font-size: 30px;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media (max-width: 768px) {
  .botao-flutuante {
    background-color: green;
    border-radius: 50%; 
    font-size: 30px; 
    padding: 8px;
    width: 60px; 
    height: 60px; 
  }

  .botao-flutuante .bi {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #icons{
  text-align: left;
}
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
